include mixins/mixin
include mixins/sections/sections
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="description" content="desrc")
		title Document
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body

		.container
			main.content
				.wrapper
					.brands
						.brands__item.brand brand-1
						.brands__item.brand brand-2
						.brands__item.brand brand-3
						.brands__item.brand brand-4
						.brands__item.brand brand-5
						.brands__item.brand brand-6
						.brands__item.brand brand-7
						.brands__item.brand brand-8
						.brands__item.brand brand-9
						.brands__item.brand brand-10
						.brands__item.brand brand-11
						.brands__item.brand brand-12
						.brands__item.brand brand-13
						.brands__item.brand brand-14
						.brands__item.brand brand-15
						.brands__item.brand brand-16
						.brands__item.brand brand-17
						.brands__item.brand brand-18
						.brands__item.brand brand-19
						.brands__item.brand brand-20
						.brands__item.brand brand-21
						.brands__item.brand brand-22
						.brands__item.brand brand-23
						.brands__item.brand brand-24
						.brands__item.brand brand-25
						.brands__item.brand brand-26
						.brands__item.brand brand-27
						.brands__item.brand brand-28
						.brands__item.brand brand-29
						.brands__item.brand brand-30
						.brands__item.brand brand-31
						.brands__item.brand brand-32
						.brands__item.brand brand-33
						.brands__item.brand brand-34