include mixins/mixin
include mixins/sections/sections
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="description" content="desrc")
		title Document
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body

		.container
			//- +header
			main.content
				.wrapper
					//- .myBox
					//- 	.myBox__bg
					//- 		+webp('myBox__pic', '1000', 'jpg')
					//- 	.myBox__content
					//- 		.myBox__text
					//- 			span David 
					//- 			span Becks


					.projects
						.projects__item.project
							.project__bg
								+webp('project__pic', '1', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома
									ul.project__list
										li.project__list_item
											span.decor
											span.txt 174 м
										li.project__list_item
											span.decor
											span.txt 7.8 x 15
										li.project__list_item
											span.decor
											span.txt 60 дней
										li.project__list_item
											span.decor
											span.txt 2
									span.project__price от 1 400 000 р
							.project__more Подробнее
						.projects__item.project
							.project__bg
								+webp('project__pic', '2', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома
									ul.project__list
										li.project__list_item
											span.decor
											span.txt 174 м
										li.project__list_item
											span.decor
											span.txt 7.8 x 15
										li.project__list_item
											span.decor
											span.txt 60 дней
										li.project__list_item
											span.decor
											span.txt 2
									span.project__price от 1 400 000 р
							.project__more Подробнее
						.projects__item.project
							.project__bg
								+webp('project__pic', '3', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома
									ul.project__list
										li.project__list_item
											span.decor
											span.txt 174 м
										li.project__list_item
											span.decor
											span.txt 7.8 x 15
										li.project__list_item
											span.decor
											span.txt 60 дней
										li.project__list_item
											span.decor
											span.txt 2
									span.project__price от 1 400 000 р
							.project__more Подробнее
						.projects__item.project
							.project__bg
								+webp('project__pic', '4', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома
									ul.project__list
										li.project__list_item
											span.decor
											span.txt 174 м
										li.project__list_item
											span.decor
											span.txt 7.8 x 15
										li.project__list_item
											span.decor
											span.txt 60 дней
										li.project__list_item
											span.decor
											span.txt 2
									span.project__price от 1 400 000 р
							.project__more Подробнее
						.projects__item.project
							.project__bg
								+webp('project__pic', '5', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома
									ul.project__list
										li.project__list_item
											span.decor
											span.txt 174 м
										li.project__list_item
											span.decor
											span.txt 7.8 x 15
										li.project__list_item
											span.decor
											span.txt 60 дней
										li.project__list_item
											span.decor
											span.txt 2
									span.project__price от 1 400 000 р
							.project__more Подробнее
						.projects__item.project
							.project__bg
								+webp('project__pic', '6', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома
									ul.project__list
										li.project__list_item
											span.decor
											span.txt 174 м
										li.project__list_item
											span.decor
											span.txt 7.8 x 15
										li.project__list_item
											span.decor
											span.txt 60 дней
										li.project__list_item
											span.decor
											span.txt 2
									span.project__price от 1 400 000 р
							.project__more Подробнее

			footer.footer
				.wrapper
					
		//-script(src="static/js/main.js" type='module')
		script(src="static/js/test.js")


		//- link(rel="stylesheet" type="text/css" href="" media="print" onload="this.media='all'")