include mixins/mixin
include mixins/sections/sections
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="description" content="desrc")
		title Document
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body

		.container
			main.content
				.wrapper
					.projects
						.projects__item.project
							a.project__bg(href='#')
								+webp('project__pic', '111', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома C 174
									ul.project__characters.characters
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text.characters__square 174 м
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 7.8 x 15
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 60 дней
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 2
									span.project__price от 1 400 000 ₽
							a.project__more.more(href='#')
								span.more__text Подробнее
								span.more__decor
									+svg('1', 'more__icon')
						.projects__item.project
							a.project__bg(href='#')
								+webp('project__pic', '2', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома K 78
									ul.project__characters.characters
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text.characters__square 174 м
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 7.8 x 15
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 60 дней
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 2
									span.project__price от 1 400 000 ₽
							a.project__more.more(href='#')
								span.more__text Подробнее
								span.more__decor
									+svg('1', 'more__icon')
						.projects__item.project
							a.project__bg(href='#')
								+webp('project__pic', '3', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома K 200
									ul.project__characters.characters
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text.characters__square 174 м
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 7.8 x 15
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 60 дней
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 2
									span.project__price от 1 400 000 ₽
							a.project__more.more(href='#')
								span.more__text Подробнее
								span.more__decor
									+svg('1', 'more__icon')
						.projects__item.project
							a.project__bg(href='#')
								+webp('project__pic', '4', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома K 209
									ul.project__characters.characters
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text.characters__square 174 м
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 7.8 x 15
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 60 дней
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 2
									span.project__price от 1 400 000 ₽
							a.project__more.more(href='#')
								span.more__text Подробнее
								span.more__decor
									+svg('1', 'more__icon')
						.projects__item.project
							a.project__bg(href='#')
								+webp('project__pic', '5', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома K 205
									ul.project__characters.characters
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text.characters__square 174 м
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 7.8 x 15
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 60 дней
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 2
									span.project__price от 1 400 000 ₽
							a.project__more.more(href='#')
								span.more__text Подробнее
								span.more__decor
									+svg('1', 'more__icon')
						.projects__item.project
							a.project__bg(href='#')
								+webp('project__pic', '6', 'jpg', 'project image')
							.project__content
								.project__descr
									span.project__title Проект дома K 295 
									ul.project__characters.characters

										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text.characters__square 174 м
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 7.8 x 15
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 60 дней
										li.characters__item
											span.characters__decor
												+svgTrue('one', 'characters__icon')
											span.characters__text 2
									span.project__price от 1 400 000 ₽
							a.project__more.more(href='#')
								span.more__text Подробнее
								span.more__decor
									+svg('1', 'more__icon')