@import 'utils/_mixins'
@import 'utils/_sprite'

@import 'core/_colors'
@import 'core/_fonts'
@import 'core/_vars'

@import 'project/_elements'

.wrapper

.header
	&__body
		padding: 10px 0

.tabs
	&__items
		+flex
	&__item
		padding: 5px 10px
		background-color: #fff
		cursor: pointer
		&.active
			background-color: pink
	&__box
		background-color: pink
		padding: 25px
		display: none
		&.active
			display: block
.footer
	height: 70vh
	&__card
		width: 550px
		height: 550px
		margin: 0 auto
		position: relative
		+flex(flex-end)
		flex-direction: column
		padding: 25px

	&__pic
	
		+bg-pic
		+gOverlay
	&__img
		+bg-pic(top)
	&__text
		position: relative
		color: #fff
		font-weight: bold
		font-size: 3em

.box
	display: grid
	grid-template-columns: repeat(2, 1fr)
	grid-gap: 10px
	grid-template-rows: repeat(1, 2.3em)
	grid-auto-rows: 550px
	margin-bottom: 50px
	&__item
		width: 100%
		overflow: hidden
		position: relative
	&__pic
		+bg-pic(top)


	.yep
		transform: scale(1.2)
		top: 50px
p
	font-weight: bold
	font-family: sans-serif
	text-transform: uppercase
	font-size: 2em
	text-align: center
.hello
	font-size: 3em

.myBox
	height: 500px
	width: 1000px
	position: relative
	&:hover
		.myBox
			&__content
				opacity: 0
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		mix-blend-mode: color
	&__bg
		+bg-box
	&__pic
		+bg-pic()

	&__content
		position: relative
		width: 100%
		height: 100%
		background-color: #fff
		+flex(center, center)
		padding: 20px
		mix-blend-mode: screen
		text-align: center
		line-height: 14em 
		+smooth
	&__text
		font-size: 15em
		font-family: sans-serif
		font-weight: 1000
		text-transform: uppercase


.content
	padding-top: 100px
/*----- COLORS -----*/
$gold: #EA9635
$grey: rgba(244, 244, 244, 0.7)
$font-excel: $gold


.projects
	+grid
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr))
	grid-gap: 45px 30px
	+r(350)
		grid-template-columns: 1fr

.project
	background-color: #fff
	box-shadow: 0px 0px 20px rgba(#000, .05)
	+smooth

	+flex(space-between)
	flex-direction: column
	&:hover
		box-shadow: 0 10px 10px rgba(#000, .2)
			
	&__content
		padding: 16px 24px 0 24px
		position: relative
		flex: 1
	&__bg
		position: relative
		height: 50%
		width: 100%
		height: 200px
		overflow: hidden
		display: block
		&:hover
			.project
				&__pic
					transform: scale(1.2)
	&__pic
		+bg-pic
		+smooth
	&__more
		background-color: $grey
		padding: 17px 0 13px 24px
		text-transform: uppercase
		color: $font-excel
		font-family: sans-serif
		font-size: 12px
		display: block
		+smooth
		&:hover
			background-color: $gold
			color: #fff
			.more
				&__arrow
					background-color: #fff
					&:before, &:after
						border-color: #fff
	&__characters
		margin-bottom: 15px
	&__title
		font-size: 22px
		font-family: sans-serif
		font-weight: bold
		margin-bottom: 15px
		display: inline-block
	&__price
		font-size: 20px
		color: $font-excel
		font-family: sans-serif
		font-weight: bold
		margin-bottom: 18px
		display: inline-block

.characters
	list-style: none
	+flex(space-between)
	flex-wrap: wrap

	margin-left: -8px
	margin-top: -10px

	&__item
		+flex(start)
		margin-left: 8px
		margin-top: 10px
		+r(400)
			width: 45%
		
	&__text
		display: inline-block
		font-size: 16px
		margin-bottom: 12px
	&__icon
		height: 18px
		width: 18px
		margin-right: 10px
	


.more
	+flex(start, center)
	&__arrow
		display: block
		width: 19px
		height: 2px
		background-color: $gold
		margin-left: 10px
		position: relative
		&:before
			content: ''
			position: absolute
			display: block
			height: 10px
			width: 10px
			border-top: 2px solid $gold
			border-right: 2px solid $gold
			transform: rotate(45deg)
			top: -4px
			right: 1px